<h1><%= @user.username %></h1>

<ul>
<% if @user.destinations.any?%>
<h2>Here are your destinations:</h2>
    <% @user.destinations.each do |destination| %>
        <a href='/destinations/<%= destination.id %>'><%=destination.city%>
    <% end %>
<% else %>
    <h2>There aren't any trips planned...</h2>
    <% if @user == current_user %>
        <p><a href='/destinations/new'>Add your first destination!</a><p>
    <% end %>
<% end %>
</ul>