<h1> Edit <%= @destination %></h1>

<form action='/destinations/<%= @destination.id %>' method='post'>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="destination[city]"><br>
  <label for="country">Country:</label><br>
  <input type="text" id="country" name="destination[country]"><br>
  <label for="continent">Continent:</label><br>
  <input type="text" id="continent" name="destination[continent]">

  <p>Are you planning a future trip or showing off one from the past?</p>
  <input type="radio" id="past" name="destination[visited]" value="true">
  <label for="past">This is from the past, but mentally I am still there.</label><br>
  <input type="radio" id="future" name="destination[visited]" value="false">
  <label for="future">Future plans. I don't look back because that's not where I'm going.</label><br>

  <input type="submit">    
</form>

