<h1>Here's all the destinations on our users' minds!</h1>
<ul>
<% @destinations.each do |destination| %>
    <li><a href='destinations/<%=destination.city%>'><%= destination.city %></a></li>
<% end %>
</ul>