<h1> Add a new destination to your itenerary here!</h1>

<form action='/destinations' method='post'>

  <label for="city">City:</label><br>
  <input type="text" id="city" name="city"><br>
  <label for="country">Country:</label><br>
  <input type="text" id="country" name="country"><br>
  <label for="continent">Continent:</label><br>
  <input type="text" id="continent" name="continent">

  <p>Are you planning a future trip or showing off one from the past? (Pick one)</p>
  <div>
    <input type="checkbox" id="past" name="past" checked>
    <label for="past">This is from the past, but mentally I am still there.</label>
  </div>

  <div>
    <input type="checkbox" id="future" name="future">
    <label for="future">Future plans, baby. I don't look back because that's not where I'm going.</label>
  </div> 
      
</form>